[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
tqdm = "*"
nltk = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
jupyter = "*"
spotipy = "*"
pylyrics = "*"
requests = "*"


[requires]

python_version = "3.5"
